@use '../abstract/mixin';
@use '../abstract/variaveis';

#servico {
    background: variaveis.$gradiente-primario;
    padding: 5rem 0;
    .cards {
        @include mixin.margem-auto(80%);
        display: flex;
        gap: 1.5rem;
        .card {
            background: variaveis.$gradiente-secundario;
            text-align: center;
            padding: 1rem 1.5rem;
            border: 1px solid white;
            border-radius: 3rem;
            &-titulo {
                @include mixin.fonte-configs-fscw(variaveis.$fonte-titulos, 1.6rem, variaveis.$cor-primaria, 500);
            }
            &-texto {
                @include mixin.fonte-configs-fscw(variaveis.$fonte-textos, 1.2rem, variaveis.$cor-primaria, 500);
            }
        }
    }
}